extends layout
block content
    if error
        p.text-danger #{error}
    if Records && Records.length > 0
        div.container-fluid
            each record in Records
                div(class="col-md-12 col-xs-12")
                    if record.Suffix
                        h5 #{record.Firstname}&nbsp#{record.Lastname},&nbsp#{record.Suffix}
                    else
                        h5 #{record.Firstname}&nbsp#{record.Lastname}

                div(class="col-md-6 col-xs-6") Telefon: +92396297917
                div(class="col-md-6 col-xs-6") email: c@kajhgka.de
                hr
    else
        p.text-info Keine #{page.EntityNamePlural} zum Anzeigen