extends layout
block content
    if error
        p.text-danger #{error}
    if canEdit
        script(type='text/javascript').
            var isEdit = false;
            function toggleEdit() {
                if (isEdit) {
                    $('#editForm').hide();
                    $('#readonlyContainer').show();
                    isEdit = false;
                } else {
                    $('#editForm').show();
                    $('#readonlyContainer').hide();
                    isEdit = true;
                }
            }
        form(class="form-horizontal", role="form", method="post", id="editForm", style="display: none;")
            input(type="hidden", value="#{csrfToken}" name="_csrf")
            input(type="hidden", value="#{Page_id}" name="_pageId")
            div.form-group
                label(for="rawRho") Seitentext:
                textarea(class="form-control", placeholder='Seitentext hier eingeben', id="rawRho", name="rawRho", rows=15) #{RawRHO}
            div.form-group
                button(class="btn btn-default", id="save", value="save", name="save")
                    span(class="glyphicon glyphicon-save")
                    | &nbsp Änderungen speichern
                button(class="btn btn-default cancel", id="cancel", value="cancel", name="cancel")
                    span(class="glyphicon glyphicon-remove")
                    | &nbsp Abbrechen
        div(class="container", id="readonlyContainer")
            if RawHTML
                | !{RawHTML}
            hr
            button(class="btn btn-primary", onclick="toggleEdit();", id="btEdit") Edit
    else
        if Records
            table(class="table table-striped")
                if RecordFields
                    thead
                        tr
                            each field in RecordFields
                                td #{field.Caption}
                tbody
                    each record in Records
                        tr
                            - keys = Object.keys(record)
                            each key in keys
                                - value = record[key]
                                td #{value.value_formatted}

    include common-js.jade
