extends layout
block content
    if error
        p.text-danger #{error}
    if canEdit
            a(href="#{Page_id}/?edit")
                span.glyphicon.glyphicon-edit

    if canEdit
        script(type='text/javascript').
            var isEdit = false;

            function toggleEdit() {
                if (isEdit) {
                    $('#editForm').hide();
                    $('#readonlyContainer').show();
                    isEdit = false;
                } else {
                    $('#editForm').show();
                    $('#readonlyContainer').hide();
                    isEdit = true;
                }
            }
        form(class="form-horizontal", role="form", method="post", id="editForm", style="display: none;")
            input(type="hidden", value="#{csrfToken}" name="_csrf")
            input(type="hidden", value="#{Page_id}" name="_pageId")
            div.form-group
                label(for="rawMarked") Seitentext:
                textarea(class="form-control", placeholder='Seitentext hier eingeben', id="rawMarked", name="rawMarked", rows=15) #{RawMarked}
            div.form-group
                button(class="btn btn-default", id="save", value="save", name="save")
                    span(class="glyphicon glyphicon-save")
                    | &nbsp Änderungen speichern
                button(class="btn btn-default cancel", id="cancel", value="cancel", name="cancel")
                    span(class="glyphicon glyphicon-remove")
                    | &nbsp Abbrechen
        div(class="container-fluid", id="readonlyContainer")
            div.row
                if RawHTML
                    | !{RawHTML}
                hr
                button(class="btn btn-primary", onclick="toggleEdit();", id="btEdit") Edit
    else
        if RawHTML
            | !{RawHTML}

    include common-js.jade
