doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/stylesheets/style.css')
        if bootstrapTheme && bootstrapTheme != 'bootstrap'
            link(rel='stylesheet', href='/lib/bootstrap/dist/#{bootstrapTheme}/css/bootstrap.css')
        else
            link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/lib/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')
        style(type="text/css").
            .modal-dialog-full {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }

            .modal-content-full {
                height: 100%;
                border-radius: 0;
                overflow: auto;
            }

            .modal-title-full {
                font-size: 3em;
                font-weight: 300;
                margin: 0 0 20px 0;
            }

            .modal-dialog {
                height: 95%;
            }

            .modal-content {
                max-height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
            }

            @media (min-width: 768px) {
                .ascloud-left-border-sm {
                    border-left: 1px solid lightgray;
                }
            }

            @media (min-width: 768px) {
                .ascloud-right-border-sm {
                    border-right: 1px solid lightgray;
                }
            }

            @media (min-width: 992px) {
                .ascloud-left-border-md {
                    border-left: 1px solid lightgray;
                }
            }

            @media (min-width: 992px) {
                .ascloud-right-border-md {
                    border-right: 1px solid lightgray;
                }
            }

    body
        div.device-xs.visible-xs
        div.device-sm.visible-sm
        div.device-md.visible-md
        div.device-lg.visible-lg
        div.container-fluid
            div.row
                div(class="navbar navbar-default navbar-fixed-top app-navbar", role="navigation")
                    div.container-fluid
                        div(class="navbar-header")
                            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href="#") #{appName}
                        div(class="collapse navbar-collapse")
                            ul(class="nav navbar-nav")
                                if pages
                                    each page in pages
                                        li
                                            if page.isSingleEntity
                                                a(href='/#{page.Name}') #{page.EntityNameSingular}
                                            else
                                                a(href='/#{page.Name}') #{page.EntityNamePlural}
                            if user != null && user.menu
                                form(action="/logoff", class="nav navbar-nav navbar-right adjusted-nav-right", id="logoutForm", method="post")
                                    input(type="hidden", value="#{csrfToken}" name="_csrf")
                                    ul(class="nav navbar-nav")
                                        if user.menu.admin
                                            li(id="fat-menu-admin", class="dropdown")
                                                a(href="#", id="drop3", role="button", class="dropdown-toggle", data-toggle="dropdown") Verwaltung
                                                    span.caret
                                                ul(class="dropdown-menu", role="menu", aria-labelledby="drop3")
                                                    if user.menu.admin.settings
                                                        li(role="presentation")
                                                            a(role="menuitem", tabindex="-1", href="/admin/settings") Einstellungen
                                                    if user.menu.admin.users
                                                        li(role="presentation")
                                                            a(role="menuitem", tabindex="-1", href="/admin/usermanagementuserlist") Benutzer
                                                    if user.menu.admin.roles
                                                        li(role="presentation")
                                                            a(role="menuitem", tabindex="-1", href="/admin/usermanagementroles") Rollen
                                                    if user.menu.admin.pages
                                                        li(role="presentation")
                                                            a(role="menuitem", tabindex="-1", href="/admin/pagemanagementpagelist") Seiten
                                                    if user.menu.admin.databasemanagement && ( user.menu.admin.roles || user.menu.admin.users || user.menu.admin.settings)
                                                        li(role="presentation", class="divider")
                                                    if user.menu.admin.databasemanagement
                                                        li(role="presentation")
                                                            a(role="menuitem", tabindex="-1", href="/admin/databaseManagement") Datenbank
                                        li
                                            a(href="/loginManageAccount", title="Manage") Hallo #{user.UserName}!
                                        li
                                            a(href="javascript:document.getElementById('logoutForm').submit()") Abmelden
                            else
                                ul(class="nav navbar-nav navbar-right")
                                    li
                                        a(href='/login') Anmelden
            div(class="row", style="margin-top:55px")
                div.container-fluid
                    div.row
                        div.col-xs-12
                            block content
