extends layout
block content
    h2= title
    if user
        p.text-info Sie sind als <string>#{user.UserName}</strong> angemeldet.
    if error
        p.text-danger #{error}
    if info
        p.text-info #{info}
    if error || info
        br
    form(action="/loginManageAccount",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if setPassword
            h4 Passwort setzen
            span.small (Es wird das Passwort für die Benutzerkennung #{user.UserName} bei #{appName} gesetzt, nicht bei Facebook, Twitter, Google, etc)
            hr
            div(class="validation-summary-valid text-danger", data-valmsg-summary="true")
                ul
                    li(style="display:none")
            div.form-group
                label(class="col-md-2 control-label", for="NewPassword") Passwort:
                div.col-md-3
                    input(class="form-control", data-val="true",
                    data-val-length="Das neue Passwort muss mindestens 8 Zeichen lang sein.",
                    data-val-length-max="100", data-val-length-min="8",
                    data-val-required="Das neue Passwort muss angegeben werden.",
                    id="NewPassword", name="NewPassword", type="password")
            div.form-group
                label(class="col-md-2 control-label", for="ConfirmPassword") Passwort wiederholen:
                div.col-md-3
                    input(class="form-control", data-val="true",
                    data-val-equalto="Das neue Passwort und die Wiederholung müssen übereinstimmen",
                    data-val-equalto-other="*.NewPassword", id="ConfirmPassword", name="ConfirmPassword", type="password")
            div.form-group
                div(class="col-md-offset-2 col-md-3")
                    input(type="submit", value="Passwort setzen", name="setPassword", class="btn btn-default")
        else
            h4 Passwort ändern
            hr
            div(class="validation-summary-valid text-danger", data-valmsg-summary="true")
                ul
                    li(style="display:none")
            div.form-group
                label(class="col-md-2 control-label", for="OldPassword") Aktuelles Passwort:
                div.col-md-3
                    input(class="form-control", data-val="true", data-val-required="Das aktuelle Passwort muss angegeben werden.", id="OldPassword", name="OldPassword", type="password")
            div.form-group
                label(class="col-md-2 control-label", for="NewPassword") Neues Passwort:
                div.col-md-3
                    input(class="form-control", data-val="true",
                    data-val-length="Das neue Passwort muss mindestens 8 Zeichen lang sein.",
                    data-val-length-max="100", data-val-length-min="8",
                    data-val-required="Das neue Passwort muss angegeben werden.",
                    id="NewPassword", name="NewPassword", type="password")
            div.form-group
                label(class="col-md-2 control-label", for="ConfirmPassword") Neues Passwort wiederholen:
                div.col-md-3
                    input(class="form-control", data-val="true",
                    data-val-equalto="Das neue Passwort und die Wiederholung müssen übereinstimmen",
                    data-val-equalto-other="*.NewPassword", id="ConfirmPassword", name="ConfirmPassword", type="password")
            div.form-group
                div(class="col-md-offset-2 col-md-3")
                    input(type="submit", value="Passwort ändern", name="changePassword", class="btn btn-default")

    h4 Registrierte Logins
    if user && user.UserLogins && user.UserLogins.length > 0
        div(class="col-xs-12 col-sm-12 table-responsive")
            table.table
                thead
                    tr
                        th Provider
                        th Aktion
                tbody
                    each userLogin in user.UserLogins
                        tr
                            td
                                span.text-capitalize #{userLogin.LoginProvider}
                            td
                                form(action="/loginManageAccount" method="post" novalidate="novalidate")
                                    input(type="hidden", value="#{csrfToken}" name="_csrf")
                                    input(id="loginProvider", name="loginProvider",type="hidden",value="#{userLogin.LoginProvider}")
                                    input(id="providerKey",name="providerKey", type="hidden", value="#{userLogin.ProviderKey}")
                                    input(type="submit", class="btn btn-default", name="unlink", value="Löschen", title="Lösche die Zuordnung dieses #{userLogin.LoginProvider} Benutzers")
    else
        hr
        div.text-info keine
        br

    if canAssociateWithAzure || canAssociateWithTwitter || canAssociateWithGoogle || canAssociateWithFacebook
        h4 Einen anderen Dienst zum einloggen zuordnen
        hr
        form(action="/login", method="post", novalidate="novalidate")
            input(type="hidden", value="/loginManageAccount", name="nexturl")
            input(type="hidden", value="#{csrfToken}" name="_csrf")
            div(id="socialLoginList")
                p
                    if canAssociateWithAzure
                        button(type="submit", class="btn btn-default", id="Windows Azure", name="provider", value="Azure", title="Log in mit Windows Azure Benutzerkennung") Windows Azure
                    if canAssociateWithTwitter
                        button(type="submit", class="btn btn-default", id="Twitter", name="provider", value="Twitter", title="Log in mit Twitter Benutzerkennung") Twitter
                    if canAssociateWithGoogle
                        button(type="submit", class="btn btn-default", id="Google", name="provider", value="Google", title="Log in mit Google Benutzerkennung") Google
                    if canAssociateWithFacebook
                        button(type="submit", class="btn btn-default", id="Facebook", name="provider", value="Facebook",title="Log in mit Facebook Benutzerkennung") Facebook
