extends layout

block content
    h2= title
    h3 Zuordnen des #{provider} Benutzers.
    form(action="/loginRegister",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        hr
        p.text-info Ihr <strong>#{provider}</strong> Benutzer wurde erfolgreich authentifiziert. Bitte geben Sie eine Email Adresse ein, die Sie dann zukünftig als Benutzername für die Anmeldung bei #{appName} verwenden und klicken dann auf Registrieren.
        div.form-group
            label(class="col-md-2 control-label", for="Email") Email Adresse:
            div.col-md-10
                input(class="form-control", data-val="true", data-val-email="Die angegebene Email Adresse ist ungültig.", data-val-required="Die Email Adresse muss eingegeben werden.", id="email", name="email", type="text", value="#{email}")
                span(class="field-validation-valid text-danger", data-valmsg-for="Email", data-valmsg-replace="true")
        div.form-group
            div(class="col-md-offset-2 col-md-10")
                input(type="submit", class="btn btn-default", value="Registrieren")
        hr
        if error
            p.text-danger #{error}
