extends layout
block content
    if error
        p.text-danger #{error}
    if Records && Records.length > 0
        div.container-fluid
            each record in Records
                div(class="col-md-12 col-xs-12")
                    div(style="padding-left: 3px;margin-top:2px;margin-bottom:2px;background-color:#fafafa;")
                        strong(style="padding-bottom:2px;padding-top:1px;font-size: 1.1em") #{record.Firstname}&nbsp#{record.Lastname}
                        if record.Suffix
                            | ,#{record.Suffix}
    else
        p.text-info Keine #{page.EntityNamePlural} zum Anzeigen