extends layout
block content
    if error
        p.text-danger #{error}
    if Records && Records.length > 0
        h1
            u #{page.EntityNamePlural}
        each record in Records
            div(class="col-md-12 col-xs-12")
                address
                    if record.Suffix
                        strong #{record.Lastname},&nbsp#{record.Firstname},&nbsp#{record.Suffix}
                    else
                        strong #{record.Lastname},&nbsp#{record.Firstname}

                    if record.Birthday
                        | ,&nbsp;Geboren: #{record.Birthday}
                    if record.Addresses && record.Addresses.length > 0
                    div
                        each address in record.Addresses
                            if address.Street
                                | #{address.Street} #{address.StreetNumber},&nbsp;#{address.Postalcode} #{address.City}
                            else
                                | #{address.Postalcode} #{address.City}
                    if record.PhoneNumbers && record.PhoneNumbers.length > 0
                    div
                        each phoneNumber in record.PhoneNumbers
                            | Tel.: #{phoneNumber.Number}
                            if record.PhoneNumbers.length > 1
                                | &nbsp;(#{phoneNumber.Usage})
                            br
                    if record.Accounts && record.Accounts.length > 0
                    div
                        each account in record.Accounts
                            div
                                | #{account.Type}:&nbsp;
                                a(href="mailto:#{account.Account}") #{account.Account}
                                if record.Accounts.length > 1
                                    | &nbsp;(#{account.Usage})
    else
        p.text-info Keine #{page.EntityNamePlural} zum Anzeigen