extends layout
block content
    h2= title
    h4 Seitenliste
    form(action="/admin/pageManagementPageEdit",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        div.form-group
            div(class="col-xs-12 col-sm-12 table-responsive")
                table.table
                    tbody
                        tr
                            td
                                input(type="text", class="form-control", id="newPageName", name="newPageName", value="",
                                placeholder="Name (URL) einer neuen Seite")
                            td
                                button(class="btn btn-default", id="addNewPage", value="Hinzufügen", name="addNewPage")
                                    span(class="glyphicon glyphicon-plus")
                                    | &nbsp Hinzufügen
                hr
                table.table
                    thead
                        tr
                            th URL
                            th Entity (singular)
                            th Entity (plural)
                            th Model
                            th View
                            th Aktionen
                    tbody
                        each page in pages
                            tr
                                td #{page.Name}
                                td #{page.EntityNameSingular}
                                td #{page.EntityNamePlural}
                                if page.isSingleEntity
                                    td #{page.Model}
                                else
                                    td #{page.Collection}
                                td #{page.View}
                                td
                                    a(href='/admin/pageManagementPageEdit/#{page.Page_id}') Details
