extends layout
block content
    h2= title
    h4 Seitenliste
    form(action="/admin/pageManagementPageEdit",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        div.form-group
            div(class="col-xs-12 col-sm-12 table-responsive")
                table.table
                    tbody
                        tr
                            td
                                input(type="text", class="form-control", id="newPageName", name="newPageName", value="",
                                placeholder="Name (URL) einer neuen Seite")
                            td
                                button(class="btn btn-default", id="addNewPage", value="Hinzufügen", name="addNewPage")
                                    span(class="glyphicon glyphicon-plus")
                                    | &nbsp Hinzufügen
    form(action="/admin/pageManagementPageList",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        div.form-group
            div(class="col-xs-12 col-sm-12 table-responsive")
                hr
                table.table
                    thead
                        tr
                            th URL
                            th Entity (singular)
                            th Entity (plural)
                            th Model
                            th View
                            th Aktionen
                    tbody
                        each page in pages
                            tr
                                td #{page.Name}
                                td #{page.EntityNameSingular}
                                td #{page.EntityNamePlural}
                                if page.isSingleEntity
                                    td #{page.Model}
                                else
                                    td #{page.Collection}
                                td #{page.View}
                                td
                                    a(href='/admin/pageManagementPageEdit/#{page.Page_id}') Details
                                    | &nbsp;&nbsp;
                                    if page.isLast
                                        button(class="btn btn-link", role="link", disabled, type="submit", id="move_down_#{page.Page_id}", value="move_down_#{page.Page_id}", name="move_down_#{page.Page_id}")
                                            span.glyphicon.glyphicon-arrow-down
                                    else
                                        button(class="btn btn-link", role="link", type="submit", id="move_down_#{page.Page_id}", value="move_down_#{page.Page_id}", name="move_down_#{page.Page_id}")
                                            span.glyphicon.glyphicon-arrow-down

                                    if page.isFirst
                                        button(class="btn btn-link", role="link", disabled, type="submit", id="move_up_#{page.Page_id}", value="move_up_#{page.Page_id}", name="move_up_#{page.Page_id}")
                                            span.glyphicon.glyphicon-arrow-up
                                    else
                                        button(class="btn btn-link", role="link", type="submit", id="move_up_#{page.Page_id}", value="move_up_#{page.Page_id}", name="move_up_#{page.Page_id}")
                                            span.glyphicon.glyphicon-arrow-up
