extends layout
block content
    h2= title
    h4 Benutzeroberfläche
    form(action="/admin/settings",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        div.form-group
            label(for="favicon",class="col-xs-12 col-sm-2 control-label") Favicon
            div(class="col-xs-12 col-sm-10 col-md-7")
                input(class="form-control file", type="file", name="favicon", placeholder="Favicon (16px x 16px PNG)")
        div.form-group
            label(for="bannerXS",class="col-xs-12 col-sm-2 control-label") Banner XS (Breite: 480px)
            div(class="col-xs-12 col-sm-10 col-md-7")
                input(class="form-control file", type="file", name="bannerXS", placeholder="")
        div.form-group
            label(for="bannerSM",class="col-xs-12 col-sm-2 control-label") Banner SM (Breite: 768px)
            div(class="col-xs-12 col-sm-10 col-md-7")
                input(class="form-control file", type="file", name="bannerSM", placeholder="")
        div.form-group
            label(for="bannerMD",class="col-xs-12 col-sm-2 control-label") Banner MD (Breite: 992px)
            div(class="col-xs-12 col-sm-10 col-md-7")
                input(class="form-control file", type="file", name="bannerMD", placeholder="")
        div.form-group
            label(for="bannerLG",class="col-xs-12 col-sm-2 control-label") Banner LG (Breite: 1200px)
            div(class="col-xs-12 col-sm-10 col-md-7")
                input(class="form-control file", type="file", name="bannerLG", placeholder="")

        each setting in settingsUI
            div.form-group
                label(for="#{setting.key}",class="col-xs-12 col-sm-2 control-label") #{setting.key}
                div(class="col-xs-12 col-sm-10 col-md-7")
                    select(class="form-control", name="#{setting.key}")
                        each lookupValue, i in setting.lookupValues[setting.key]
                            if setting.value == lookupValue.name
                                option(value=lookupValue.name selected) #{lookupValue.description}
                            else
                                option(value=lookupValue.name) #{lookupValue.description}
        div.form-group
            div(class="col-xs-12 col-sm-offset-2 col-sm-10")
                button(class="btn btn-default", id="save", value="save", name="save")
                    span(class="glyphicon glyphicon-save")
                    | &nbsp Änderungen speichern
                button(class="btn btn-default cancel", id="cancel", value="cancel", name="cancel")
                    span(class="glyphicon glyphicon-remove")
                    | &nbsp Abbrechen

    include common-js.jade
    link(rel='stylesheet', href='/lib/bootstrap-fileinput-4.2.0/css/fileinput.min.css')
    script(src="/lib/bootstrap-fileinput-4.2.0/js/fileinput.min.js", type="text/javascript")
    script(src="/lib/bootstrap-fileinput-4.2.0/js/fileinput_locale_de.js", type="text/javascript")
