extends layout
block content
    h2= title
    h4 Benutzeroberfläche
    form(action="/admin/settings",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        each setting in settingsUI
            div.form-group
                label(for="#{setting.key}",class="col-xs-12 col-sm-2 control-label") #{setting.key}
                div(class="col-xs-12 col-sm-10")
                    select(class="form-control", name="#{setting.key}")
                        each lookupValue, i in setting.lookupValues[setting.key]
                            if setting.value == lookupValue.name
                                option(value=lookupValue.name selected) #{lookupValue.description}
                            else
                                option(value=lookupValue.name) #{lookupValue.description}
        div.form-group
            div(class="col-xs-12 col-sm-offset-2 col-sm-10")
                button(class="btn btn-default", id="save", value="save", name="save")
                    span(class="glyphicon glyphicon-save")
                    | &nbsp Änderungen speichern
                button(class="btn btn-default cancel", id="cancel", value="cancel", name="cancel")
                    span(class="glyphicon glyphicon-remove")
                    | &nbsp Abbrechen

    include common-js.jade
