extends layout
block content
    h4 Benutzerliste
    form(action="/admin/userManagementUserList",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        div(class="col-xs-12 col-sm-12 table-responsive")
            table.table
                thead
                    tr
                        th Username
                        th Email
                        th Login Provider
                        th Aktionen
                tbody
                    each user in userlist
                        tr
                            td #{user.UserName}
                            td #{user.Email}
                            td
                                span #{user.UserLoginProviders_formatted}
                            td
                                a(href='/admin/userManagementUserEdit/#{user.User_id}') Details



