extends layout
block content
    if error
        p.text-danger #{error}
    if info
        p.text-info #{info}
    if error || info
        br
    h4 Details von #{appName}-Benutzer #{userData.UserName}
    hr
    div.col-md-12
        form(class="form-horizontal", role="form", action="/admin/userManagementUserEdit", method="post")
            input(type="hidden", value="#{csrfToken}" name="_csrf")
            input(type="hidden", value="#{userData.User_id}" name="User_id")
            div.form-group
                label(for="username",class="col-xs-12 col-md-2 control-label") Benutzerkennung:
                div(class="col-xs-12 col-md-10")
                    input(class="form-control", data-val="true",
                    data-val-email="Die Benutzerkennung muss im email Format sein",
                    data-val-required="Die Benutzerkennung muss eingegeben werden.",
                    placeholder='Benutzerkennung',
                    id="username", name="username", type="text", value='#{userData.UserName}')
                    span(class="field-validation-valid text-danger", data-valmsg-for="username", data-valmsg-replace="true")
            div.form-group
                label(for="email",class="col-xs-12 col-md-2 control-label") Email:
                div(class="col-xs-12 col-md-10")
                    input(class="form-control", data-val="true",
                    data-val-email="Im Email Eingabefeld steht eine ungültige Email Adresse.",
                    data-val-required="Das Email Feld muss ausgefüllt werden.",
                    placeholder='Email Adresse',
                    id="email", name="email", type="text", value="#{userData.Email}")
                    span(class="field-validation-valid text-danger", data-valmsg-for="email", data-valmsg-replace="true")
            div.form-group
                label(for="provider",class="col-xs-12 col-md-2 control-label") Login Provider:
                div(class="col-xs-12 col-md-10 form-control-static", id="provider")
                    span #{userData.UserLoginProviders_formatted}
            if userData && userData.roles && userData.roles.length > 0
                div.form-group
                    label(for="roles",class="col-xs-12 col-md-2 control-label") Rollen:
                    div(class="col-xs-12 col-md-10 form-control-static", id="roles")
                        for role in userData.roles
                            if role.assignedToUser
                                input(type="checkbox",value="#{role.id}", checked="checked", name="cb_role_#{role.id}")
                                | &nbsp #{role.Name}
                            else
                                input(type="checkbox",value="#{role.id}", name="cb_role_#{role.id}")
                                | &nbsp #{role.Name}
                            br
            div.form-group
                button(class="btn btn-default", id="save", value="save", name="save")
                    span(class="glyphicon glyphicon-save")
                    | &nbsp Änderungen speichern
                button(class="btn btn-default cancel", id="cancel", value="cancel", name="cancel")
                    span(class="glyphicon glyphicon-remove")
                    | &nbsp Abbrechen
            div.form-group
                hr
                button(class="btn btn-default btn-danger", id="deleteAccount", value="deleteAccount", name="deleteAccount")
                    span(class="glyphicon glyphicon-trash")
                    | &nbsp Benutzer löschen
